certifi==2025.6.15
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
comtypes==1.4.11
gTTS==2.5.4
idna==3.10
pygame==2.6.1
pypiwin32==223
pyttsx3==2.98
pywin32==310
requests==2.32.4
Unidecode==1.4.0
urllib3==2.5.0

